@view-transition {
  navigation: auto;
}

body:has(.error-wrapper) {
  background-color: #F9F2D4;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: grid;
    place-items: center;    
  }

  .page-header {
    background-color: transparent;
  }

  .wishlist,
  .account {
   background-color: white;
  }
}

.error-wrapper {
  display: grid;
  grid-template-areas: 
    "img  h1"
    "img  uhoh"
    "img  code"
    "img  a"
  ;

  img { 
    grid-area: img;
    margin-right: 2rem;
    margin-left: -2rem;
    width: 8rem;
    height: auto;
    align-self: center;

    @media (min-width: 900px) {
      width: 17rem;
      margin-right: 8rem;
      margin-left: -8rem;
    }
  }

  h1 {
    grid-area: h1;
    font-size: 16px;
    font-weight: 500;
    color: #464749;
    line-height: 2.3;

    @media (min-width: 900px) {
      font-size: 20px;
    }
  }

  .error-uhoh {
    grid-area: uhoh;
    font-size: 35px;
    font-weight: 500;
    color: black;
    line-height: 1;

    @media (min-width: 900px) {
      font-size: 75px;
    }
  }

  .error-code {
    grid-area: code;
    font-size: 40px;
    font-weight: 500;
    color: black;
    line-height: 1;

    @media (min-width: 900px) {
      font-size: 70px;
    }
  }

  a {
    grid-area: a;
    width: 10rem;
    padding: .5rem;
    background-color: #997700;
    text-decoration: unset;
    color: black;
    text-align: center;
    place-items: center;
    display: flex;
    margin-top: 1.5rem;

    @media (min-width: 900px) {
      width: 180px;
      height: 55px;
      font-size: 16px;

      &:hover {
        background-color: white;
        color: #997700;
        transition: ease-in-out .3s;
        box-shadow: 0px 2px 8px 0px rgba(0 0 0 / 15%);
      }
    }
  }
}